<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>SoccerNow - Home</title>
</head>
<body>
  <h1>SoccerNow</h1>
  <p>Actions</p>
  <a th:href="@{/register-game-result}">Register Game result</a>
  <!--    <hr>-->
  <p>Search</p>
  <a th:href="@{/teams}">Teams</a>
  <a th:href="@{/tournaments}">Tournaments</a>
  <a th:href="@{/games}">Games</a>
  <a th:href="@{/players}">Players</a>
  <a th:href="@{/referees}">Referees</a>
</body>
</html>