<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SoccerNow - Players</title>
</head>
<body>
    <h1>SoccerNow: Players</h1>

    <form method="get" action="@{/players}">
      <div>
        <label for="name">Name</label>
        <input type="text"
               name="name"
               id="name">
      </div>

      <div>
        <label for="position">Position</label>
        <select name="preferredPositions" id="position">
          <option value=""></option>
          <option value="GOALIE">Goalie</option>
          <option value="LEFT_WINGER">Left Winger</option>
          <option value="RIGHT_WINGER">Right Winger</option>
          <option value="SWEEPER">Sweeper</option>
          <option value="FORWARD">Forward</option>
        </select>
      </div>

      <div>
        <label for="goals">Scored goals</label>
        <input type="number"
               name="numScoredGoals"
               id="goals">
      </div>

      <div>
        <label for="cards">Received cards</label>
        <input type="number"
               name="numReceivedCards"
               id="cards">
      </div>

      <div>
        <label for="games">Games played</label>
        <input type="number"
               name="numGames"
               id="games">
      </div>

      <button type="submit">Filter</button>
    </form>

    <hr>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Position</th>
          <th>Goals scored</th>
          <th>Cards received</th>
          <th>Games played</th>
        </tr>
      </thead>

      <tbody>
        <tr th:each="p : ${players}">
          <td th:text="${p.name}" />
          <td th:text="${p.preferredPosition}" />
          <td th:text="${p.scoredGoals}" />
          <td th:text="${p.receivedCards}" />
          <td th:text="${p.gamesPlayed}" />
        </tr>
      </tbody>
    </table>
</body>
</html>