<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SoccerNow - Teams</title>
</head>
<body>
    <h1>SoccerNow: Teams</h1>

    <form method="get" action="@{/teams}">
        <div>
            <label for="name">Name</label>
            <input type="text"
                   name="name"
                   id="name">
        </div>

        <div>
            <label for="players">N players</label>
            <input type="number"
                   name="numPlayers"
                   id="players">
        </div>

        <div>
            <label for="wins">N wins</label>
            <input type="number"
                   name="numVictories"
                   id="wins">
        </div>

        <div>
            <label for="draws">N draws</label>
            <input type="number"
                   name="numDraws"
                   id="draws">
        </div>

        <div>
            <label for="losses">N losses</label>
            <input type="number"
                   name="numLosses"
                   id="losses">
        </div>

        <div>
            <label for="achievements">N achievements</label>
            <input type="number"
                   name="numAchievements"
                   id="achievements">
        </div>

        <div>
            <label for="missing">Missing position</label>
            <select name="missingPositions" id="missing">
                <option value=""></option>
                <option value="GOALIE">Goalie</option>
                <option value="LEFT_WINGER">Left Winger</option>
                <option value="RIGHT_WINGER">Right Winger</option>
                <option value="SWEEPER">Sweeper</option>
                <option value="FORWARD">Forward</option>
            </select>
        </div>

      <button type="submit">Filter</button>
    </form>

    <hr>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>N Players</th>
          <th>N Wins</th>
          <th>N Losses</th>
          <th>N Achievements</th>
        </tr>
      </thead>

      <tbody>
        <tr th:each="t : ${teams}">
          <td th:text="${t.name}" />
<!--          <td th:text="${t.}" />-->
<!--          <td th:text="${t.}" />-->
<!--          <td th:text="${t.}" />-->
<!--          <td th:text="${t.}" />-->
        </tr>
      </tbody>
    </table>
</body>
</html>